@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --White: #fff;
  --Lightgray: #d6e2f0;
  --Grayishblue: #7b879d;
  --Darkblue: #1f3251;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Lightgray);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  width: 250px;
  height: 400px;
  border: 8px solid #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 8px #1f3251;
}

/* QR Code Image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 226px;
  border-radius: 12px;
}

/* Main Text */
.main-text {
  margin-top: 8px;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  color: var(--Darkblue);
}

/* Details text */
.tag-text {
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: var(--Grayishblue);
}

/* Footer */
.attribution {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 100px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*Tablets [601px -> 1200px]*/
@media (max-width: 1200px) {
  .attribution {
    bottom: 40px;
    font-size: 10px;
  }
}

/*Small smartphones [325px -> 425px]*/
@media (max-width: 325px) {
  .attribution {
    bottom: 20px;
    font-size: 10px;
  }
}

/*Big smartphones [426px -> 600px]*/
@media (max-width: 600px) {
  .attribution {
    bottom: 40px;
    font-size: 10px;
  }
}
